.slides-wrapper {
  overflow: hidden;
}

.slider-list {
  margin: 0;
  display: flex;
  overflow: hidden;
  transition: 1s;
}

.slider-item {
  background-color: #bfc7cb;
  margin-bottom: -4px;
  min-height: 150px;
}

.slider-item img {
  width: 100%;
}

.slider-arrows {
  display: flex;
  justify-content: space-between;
  background-color: #d6d6d6;
  height: 75px;
}
